@import "~bootstrap/scss/bootstrap.scss";

.notes{
  padding-top: 20px;
}

.tag{
  border: 1px solid tan;
  padding: 5px 20px;
  border-radius: 30px;
  margin-right: 15px;
  margin-bottom: 10px;
  background: tan;
  color: white;
  cursor: pointer;
  display: inline-block;
}
.tag.red{
  background: #e74c3c;
  border-color: #e74c3c;
}

.tag.green{
  background: #2ecc71;
  border-color: #2ecc71;
}

.tag.blue{
  background: #3498db;
  border-color: #3498db;
}

.tag.orange{
  background: #e67e22;
  border-color: #e67e22;
}

.tag.grey{
  background: #7f8c8d;
  border-color: #7f8c8d;
}

.note{
  border: 1px solid #c6c6c6;
  padding: 20px;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
  height: 230px;
  transition: transform .2s;
  cursor: pointer;

  position: relative;

  h3{
    font-size: 18px;
  }

  .body{
    margin-top: 0;
    font-size: 13px;
    margin-bottom: 1rem;
  }

  .meta{
    font-size: 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .tags{
    margin-bottom: 10px;
  }

  .tag{
    margin-bottom: 0;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 10px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
  }
}
.note:hover{
  transform: scale(1.1);
}




